@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

body {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background: rgb(25, 193, 210);
    background: linear-gradient(0deg, rgba(25, 193, 210, 1) 0%, rgba(65, 119, 204, 1) 87%);
}

a {
    padding: 10px;
    font-size: 30px;
}

h1 {
    font-family: Rubick;
    font-style: normal;
    font-weight: normal;
    font-size: 45px;
    line-height: 57px;
    letter-spacing: 0.2px;
    text-shadow: 0px 0px 76px rgba(188, 251, 195, 0.3);
    color: #E0FFFF;
    text-align: center;
}

h2 {
    font-family: Rubick;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 33px;
    letter-spacing: 0.1px;
    margin: 3px 0;
    color: #ECF8FF;
    padding-bottom: 15px;
    text-align: center;
}

h3 {
    font-family: Rubick;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin: 3px 0;
    align-self: center;
    color: #ECF8FF;
    text-align: center;
}

h4 {
    font-family: Rubick;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
    margin: 3px 0;
    color: #ECF8FF;
}

span {
    font-family: Rubick;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 27px;
    color: #E0FFFF;
}

.start {
    text-align: start;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

header {
    padding: 30px;
    display: flex;
    justify-content: center;
}

.header-articles {
    display: flex;
    justify-content: inherit;
}

.selfInfo-size {
    max-width: 590px;
}

.subtitle {
    font-family: Rubick;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    color: #ECF8FF;
}

.first-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtitle-tall {
    font-family: Rubick;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
}

.article-position {
    display: flex;
    justify-content: space-between;
    padding-bottom: 35px;
}

.article-date {
    display: flex;
    padding-bottom: 30px;
    flex-direction: column;
}

.logo-plus-text {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    /*justify-content: center;*/
}

.projects-article {
    display: flex;
    padding-top: 60px;
    padding-bottom: 28px;
    justify-content: center;
}

.first-project-position {
    background: #0288D1;
    border-radius: 5px;
    margin-bottom: 16px;
    padding: 35px;
    min-height: 192px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    width: 80%;
}

.first-project {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.other-projects {
    padding: 35px;
    background: #0288D1;
    border-radius: 8px;
    margin-bottom: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
}

.project-button {
    width: 115px;
    border-radius: 6px;
}

.btn-grad {
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 5px;
    width: 100%;
    line-height: 23px;
    font-weight: 500;
    font-family: Rubick;
    display: flex;
    height: 33px;
    background-color: rgba(214, 61, 0, 1);
    cursor: pointer;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 20px;
}

.btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

footer {
    display: flex;
    align-items: center;
    padding-bottom: 50px;
    justify-content: center;
}

.footer-img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.semi-divs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-images {
    display: flex;
    width: 200px;
    justify-content: space-around;
}

.article {
    margin-bottom: 100px;
}

.last-article {
    margin-bottom: 100px;
}

.last-subtitle {
    font-family: Rubick;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 27px;
    margin-bottom: 66px;
}


.introduction {
    display: flex;
    padding-bottom: 70px;
    justify-content: center;
}

.about {
    display: flex;
    flex-direction: column;
    padding-top: 70px;
    align-items: center;
}

.skill {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}

.skill-items {
    border: 2px solid salmon;
    padding: 20px;
    border-radius: 5px;
    background: #0288D1;
}

.skill-list {
    display: flex;
    flex-direction: column;
}

.skill-logo {
    width: 35px;
    height: 35px;
    padding-right: 15px;
}

.name-font {
    text-align: center;
}

.semi-position {
    display: flex;
    justify-content: center;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

a {
    font-family: Rubick;
    color: #E0FFFF;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
}

.project-button a {
    font-size: 21px;
}


.calc-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calc-form h3 {
    text-align: center;
}

.calc-form form input {
    margin: 5px;
    border-radius: 5px;
    border: none;
}

.calc-form form button {
    width: 200px;
    border-radius: 5px;
    height: 50px;
    margin-top: 20px;
    font-size: 18px;
    background-color: coral;
}


@media (max-width: 902px) {
    .first-project-position {
        display: flex;
        align-items: center;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

    }

    .first-project {

    }

    .semi-divs {
        display: flex;
        flex-direction: column;
    }


}